<h1>Listing Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Display Name</th>
    <th>Email Address</th>
    <th>Birthday</th>
    <th>Created At</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to(user.username, users_show_url(:id => user)) %></td>
    <td><%= user.user_profile.display_name %></td>
    <td><%= user.user_profile.email_address %></td>
    <td><%= format_date(user.user_profile.birthdate) %></td>
    <td><%= format_date_time(user.created_at) %></td>
  </tr>
<% end %>
</table>

<br />

<%= pagination_links(@user_pagination, :users_index_url) %>
<br />