<p>
  <h1>User</h1>
</p>
<p>
  <%= :user.label_tag :display_name, :value => 'Name' %>
  <% if configatron.user_auth.link_email_address -%>
    <%= mail_to(@user_profile.display_name, @user_profile.email_address) %>
  <% else -%>
    <%= @user_profile.display_name %>
  <% end -%>
</p>
<p>
  <%= :user.label_tag :created_at, :value => 'Member Since' %>
  <%= format_date_time(@user.created_at) %>
</p>
<p>
  <%= :user_profile.label_tag :birthdate %>
  <%= format_date(@user_profile.birthdate) %>
</p>
<p>
  <%= :user_profile.label_tag :bio, :value => 'Biography' %>
  <div id='user_auth_bio'>
    <%= render(:partial, :bio_photo) %>
    <% unless @user_profile.bio.blank? -%>
      <%= simple_format @user_profile.bio %>
    <% else -%>
      <p>There is no biography yet for this user.</p>
    <% end -%>
  </div>
</p>

