<h1>Edit UserProfile</h1>

<%= error_messages_for :user_profile %>

<% form(user_profiles_update_url(:id => @user_profile), :class => "edit_user_profile", :id => "edit_user_profile", :method => :put, :multipart => true) do %>
  <%= :user_profile.text_field :email_address, :label => true %>
  <%= :user_profile.text_field :display_name, :label => true %>
  <%= :user_profile.date_select :birthdate, :label => true, :year_values => birth_years %>
  <%= :user_profile.text_area :bio, :label => true %>
  <%= file_field :bio_photo, :label => true %>
  <p><%= submit_button("Update") %></p>
<% end %>

<%= link_to("Back", users_show_url(:id => @user_profile.user)) %>
