<h1>Edit User</h1>

<%= error_messages_for :user %>

<% form(users_update_url(:id => @user), :class => "edit_user", :id => "edit_user", :method => :put) do -%>
  <%= :user.password_field :password, :label => true %>
  <%= :user.password_field :password_confirmation, :label => true %>
  <p><%= submit_button("Update") %></p>
<% end =%>

<%= link_to("Back", users_show_url(:id => @user)) %>
